
# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
/bin
/obj

# Common node modules locations
/node_modules
/wwwroot/node_modules


# End of https://www.gitignore.io/api/dotnetcore

# Start Angular 

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# End Angular 


